@use "sass:math";
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: math.div(-$spacer, 2);
  margin-right: math.div(-$spacer, 2);
}

[class*="col-"] {
  padding-left: math.div($spacer, 2);
  padding-right: math.div($spacer, 2);
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 percentage(math.div($i, 12));
    max-width: percentage(math.div($i, 12));
  }
}

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 1 through 12 {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 percentage(math.div($i, 12));
        max-width: percentage(math.div($i, 12));
      }
    }
  }
}