@use "sass:math";
@use "../tokens" as t;

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 percentage(math.div($i, 12));
    max-width: percentage(math.div($i, 12));
  }
}

.d-grid { display: grid !important; }

@for $i from 1 through 12 {
  .grid-cols-#{$i} { grid-template-columns: repeat($i, minmax(0, 1fr)) !important; }
}

@each $breakpoint, $value in t.$breakpoints {
  @media (min-width: $value) {
    @for $i from 1 through 12 {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 percentage(math.div($i, 12));
        max-width: percentage(math.div($i, 12));
      }

      .grid-cols-#{$breakpoint}-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr)) !important;
      }
    }
  }
}
